rss_gatherer_power_automate_package/Microsoft.Flow/flows/fc1f74f4-bf48-4306-8cae-7165045d8493/definition.json
{"name":"93394ff2-e2db-499e-aa6d-b8252aaad0c0","id":"/providers/Microsoft.Flow/flows/93394ff2-e2db-499e-aa6d-b8252aaad0c0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Scanner les flux RSS tous les jours","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"c14bc872-b021-4241-9dc0-45168025f10a","type":"User","tenantId":"654d7977-996a-4c8c-9f5e-5df3fced0295"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-17T13:25:57.7309738Z","flowclientsuspensionreasondetails":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1},"metadata":{"operationMetadataId":"4ba34b6b-b313-46ae-9604-3bf061d8c392"},"type":"Recurrence"}},"actions":{"Appliquer_à_chaque_flux_RSS_de_la_liste":{"foreach":"@outputs('Obtenir_les_URL_des_flux_RSS')?['body/value']","actions":{"Afficher_la_liste_de_tous_les_éléments_du_flux_RSS_2":{"runAfter":{},"metadata":{"operationMetadataId":"fb8e81a1-4312-458a-a407-02a399bfe41c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_rss","connectionName":"shared_rss","operationId":"ListFeedItems"},"parameters":{"feedUrl":"@items('Appliquer_à_chaque_flux_RSS_de_la_liste')?['URLfluxRSS']","sinceProperty":"PublishDate"},"authentication":"@parameters('$authentication')"}},"Appliquer_à_chaque_élément_du_flux_RSS":{"foreach":"@body('Afficher_la_liste_de_tous_les_éléments_du_flux_RSS_2')","actions":{"Set_whitelisted_To_false":{"runAfter":{},"metadata":{"operationMetadataId":"b09a489c-e1c0-491e-ad74-d2857cdacd10"},"type":"SetVariable","inputs":{"name":"whitelisted","value":"@true"}},"For_Each_whitelisted_word_to_search":{"foreach":"@json(items('Appliquer_à_chaque_flux_RSS_de_la_liste')?['Mots_inclus'])","actions":{"If_summary_Or_title_contains_whitelisted_word":{"actions":{},"runAfter":{},"else":{"actions":{"Set_whitelisted_To_true":{"runAfter":{},"metadata":{"operationMetadataId":"6ff2aecd-4eb6-40a2-abe6-feb0ed23a662"},"type":"SetVariable","inputs":{"name":"whitelisted","value":"@false"}}}},"expression":{"or":[{"contains":["@variables('current_summary')","@items('For_Each_whitelisted_word_to_search')"]},{"contains":["@variables('current_title')","@items('For_Each_whitelisted_word_to_search')"]}]},"metadata":{"operationMetadataId":"de45f457-1259-4e51-b6a7-7805a91b7b71"},"type":"If"}},"runAfter":{"Set_current_summary_To_summary":["Succeeded"]},"metadata":{"operationMetadataId":"e2298cbe-952c-4f58-a230-1c0916b144cc"},"type":"Foreach"},"If_feed_item_whitelisted":{"actions":{"Set_url_extract_to_check_To_substring_of_url":{"runAfter":{},"metadata":{"operationMetadataId":"977160ae-eb2d-42ac-b6fc-3630c1682ee7"},"type":"SetVariable","inputs":{"name":"url_extract_to_check","value":"@{substring(concat(items('Appliquer_à_chaque_élément_du_flux_RSS')?['primaryLink'],variables('long_empty_string')),0,250)}"}},"Get_items_to_check_duplicates":{"runAfter":{"Set_url_extract_to_check_To_substring_of_url":["Succeeded"]},"metadata":{"operationMetadataId":"ff355a8f-7583-40f5-9b67-5c5f33e69047"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://example_companygroup-my.sharepoint.com/personal/ronan_deshays_example_company_com","table":"043e9518-a62c-4059-a417-902cddc63431","$filter":"LinkTitle eq '@{variables('url_extract_to_check')}'","$top":1000,"view":"1b29971f-803b-4249-905e-fe2d57033eca"},"authentication":"@parameters('$authentication')"}},"If_no_duplicate_exist":{"actions":{"Créer_un_élément":{"runAfter":{},"metadata":{"operationMetadataId":"7bb0e59d-bc6f-4bb9-b559-40cf7255f98f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://example_companygroup-my.sharepoint.com/personal/ronan_deshays_example_company_com","table":"043e9518-a62c-4059-a417-902cddc63431","item/Title":"@variables('url_extract_to_check')","item/R_x00e9_sum_x00e9_":"@items('Appliquer_à_chaque_élément_du_flux_RSS')?['summary']","item/Pertinence":0,"item/NomfluxRSSsource":"@items('Appliquer_à_chaque_flux_RSS_de_la_liste')?['Title']","item/Titrebrut":"@items('Appliquer_à_chaque_élément_du_flux_RSS')?['title']","item/URLbrute":"@items('Appliquer_à_chaque_élément_du_flux_RSS')?['primaryLink']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items_to_check_duplicates":["Succeeded"]},"expression":{"equals":["@length(body('Get_items_to_check_duplicates')?['value'])",0]},"metadata":{"operationMetadataId":"25fc9b36-6fe5-4713-bea1-2a4275ea86e1"},"type":"If"}},"runAfter":{"For_Each_whitelisted_word_to_search":["Succeeded"]},"expression":{"equals":["@variables('whitelisted')","@true"]},"metadata":{"operationMetadataId":"2ab3bb99-80d1-46c8-95c6-a77a41437e48"},"type":"If"},"Set_current_title_To_title":{"runAfter":{"Set_whitelisted_To_false":["Succeeded"]},"metadata":{"operationMetadataId":"419a3fc1-56f0-484c-b6e3-63f435319e6f"},"type":"SetVariable","inputs":{"name":"current_title","value":"@{items('Appliquer_à_chaque_élément_du_flux_RSS')?['title']}"}},"Set_current_summary_To_summary":{"runAfter":{"Set_current_title_To_title":["Succeeded"]},"metadata":{"operationMetadataId":"87970df6-d958-461a-bb92-5dc2111f7af5"},"type":"SetVariable","inputs":{"name":"current_summary","value":"@{items('Appliquer_à_chaque_élément_du_flux_RSS')?['summary']}"}}},"runAfter":{"Afficher_la_liste_de_tous_les_éléments_du_flux_RSS_2":["Succeeded"]},"metadata":{"operationMetadataId":"f2dce4e4-0068-4e93-911d-f8185498eff5"},"type":"Foreach"}},"runAfter":{"Init_current_title_as_string":["Succeeded"]},"metadata":{"operationMetadataId":"2156d59e-9bae-4e4e-a96e-d12a1d485f7f"},"type":"Foreach"},"Obtenir_les_URL_des_flux_RSS":{"runAfter":{},"metadata":{"operationMetadataId":"51f5797e-965b-40a5-b3aa-785002fe7423"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://example_companygroup-my.sharepoint.com/personal/ronan_deshays_example_company_com","table":"efb678b5-d21e-4438-9715-aadd5ee1c621","$filter":"Scanner_ce_flux eq 1"},"authentication":"@parameters('$authentication')"}},"Init_url_extract_to_check_as_string":{"runAfter":{"Obtenir_les_URL_des_flux_RSS":["Succeeded"]},"metadata":{"operationMetadataId":"5f791937-e5fa-4280-9b08-36e9e5e94073"},"type":"InitializeVariable","inputs":{"variables":[{"name":"url_extract_to_check","type":"string","value":" "}]}},"Init_long_empty_string_as_string__":{"runAfter":{"Init_url_extract_to_check_as_string":["Succeeded"]},"metadata":{"operationMetadataId":"9f279221-14c3-4596-af45-c06dbadec98e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"long_empty_string","type":"string","value":"_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________"}]}},"Init_whitelisted_as_false_Boolean":{"runAfter":{"Init_long_empty_string_as_string__":["Succeeded"]},"metadata":{"operationMetadataId":"4c895fa2-718a-4aa5-86eb-06b7b203150e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"whitelisted","type":"boolean","value":"@false"}]}},"Init_current_summary_as_string":{"runAfter":{"Init_whitelisted_as_false_Boolean":["Succeeded"]},"metadata":{"operationMetadataId":"703208c4-7579-469e-aaae-7e595eae03cd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"current_summary","type":"string"}]}},"Init_current_title_as_string":{"runAfter":{"Init_current_summary_as_string":["Succeeded"]},"metadata":{"operationMetadataId":"122947bc-f590-4b3a-af00-ce4e2b8739e7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"current_title","type":"string"}]}}},"outputs":{},"description":"Ajouter un nouvel élément à une liste SharePoint, puis envoyer un e-mail quand un bouton ou un lien est sélectionné dans Power Apps."},"connectionReferences":{"shared_rss":{"connectionName":"shared-rss-90800370-79b2-44af-aab5-7134b5830e2f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_rss","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-5222d55b-8b70-48fe-8b20-f7212ed921be","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}